// Обнуление
@import "null_style.scss";
// Миксины
@import "mixins.scss";
// Полезные настройки
@import "ui.scss";
// Подключаем шрифты

// Шрифты по умолчанию
$fontfamily: "";
// Переменные

// Общие параметры
body {
  font-family: $fontfamily;
}
// Оболочка
.wrapper {
}
// Основная сетка
.container {
}
// Подключение файлов стилей, страниц и элементов
@import "footer.scss";
@import "header.scss";
// Основной блок
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
// sidebar styles
.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}
// main-slide styles
.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

// buttons styles
button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;

  position: absolute;
  top: 50%;
  left: 35%;
  &:hover {
    color: #222;
  }
}
.down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
